body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;

}
.box{
    position: relative;
    width: 400px;
    height: 470px;
    max-width: 400px;
    max-height: 470px;
    background: #0fc4d0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
 .intro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }
 img {
   max-width: 100%;
   height: 200px;
   display: block;
   margin-top: 10px;
   margin-bottom: 40px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;

 }
 p{
    text-align:justify;
    border: 5px solid #1bd5e1;
    border-radius: 10px;
    padding: 10px;
 }
